*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $veryLightGray;
}

p {
  font-size: 15px;
  font-family: $font_LexendDeca;
  color: $transparentWhite;
}

.card-wrapper {
  padding: 5.5rem 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-wrapper div:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-wrapper div:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.card {
  padding: 3rem;

  &-title {
    font-family: $font_BigShouldersDisplay;
    font-size: 39px;
    text-transform: uppercase;
    color: $veryLightGray;
    margin-top: 2rem;
    margin-bottom: 1.6875rem;
  }

  &-paragraph {
    margin-bottom: 1.8125rem;
    line-height: 1.6;
  }
}

.card-first {
  background-color: $brightOrange;
}

.card-second {
  background-color: $darkCyan;
}

.card-third {
  background-color: $veryDarkCyan;
}

.button {
  padding: 0.8125rem 2rem; // 13px 32px
  border-radius: 50px;
  font-family: $font_LexendDeca;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background-color: $veryLightGray;
  border: 2px solid transparent;
}

.button:hover {
  border: 2px solid $veryLightGray;
  background-color: transparent;
  color: $veryLightGray;
}

.btn-orange {
  color: $brightOrange;
}

.btn-dark-cyan {
  color: $darkCyan;
}

.btn-very-dark-cyan {
  color: $veryDarkCyan;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 900px) {

  .card-wrapper {
    padding: 0;
    padding-top: 10.6875rem; // 171px 
    padding-bottom: 8.0625rem; // 129px
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  }
  .card {
    height: 31.25rem; // 500px
    width: 19.1875rem; // 307px

    &-paragraph {
      margin-bottom: 5.4375rem; //  87px
      line-height: 1.6;
    }
  }

  .card-wrapper div:first-child{
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .card-wrapper div:last-child{
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

